.BuildingDetail
    &-features
        margin-bottom 2em
    &-title
        font-weight: 300;
    &-price
        margin-top 0
    &-feature
        display inline-block
        margin-left 2em
    &-label
        color rgba(black, 0.5)
        margin-right 1em
.GooElement
    position relative
    border 1px solid rgba(black, 0.2)
    margin-bottom 1em
    display block
    line-height 1.5em
    &-label
        background rgba(color_base, 0.5)
        color white
        position absolute
        top 0em
        left 0em
        width 7em
        text-align center
    &-image
        width 100%
.AgentDetail
    background rgba(color_base, 0.7)
    text-align center
    padding 1em
    color white
    font-size 0.8em
    margin-bottom 1em
    &-name
        font-weight bold
    &-location
        font-size 0.9em
    &-image
    &-inmoImage
        border 1px solid rgba(black, 0.2)
        width 120px
        margin-bottom 0.2em
@media screen and (max-width: 600px)
  .SliderDetail
    &-label
      font-size: 28px;
