.Condominiums-detailContainer
	h2  #{title}
	p.Condominiums-description #{description}
	p.Condominiums-moreInfo Para mas información visita 
		a.Condominiums-facebookBtn(href=facebook) Facebook #{title}
	.Condominiums-buildings