.Condominiums-detailContainer
	h2.Condominiums-mainTitle  #{title}
	p.Condominiums-description #{comments}
	p.Condominiums-moreInfo Para mas información visita 
		a.Condominiums-facebookBtn(href=facebook) Facebook #{title}
	.Condominiums-buildings