.Condominiums
	text-align center
	&-mainTitle
		color color_base
	&-elements
		list-style none
		padding 0
	&-elem
		border 1px solid color_base
		border-top none
		padding 0.5em 0
		a
			color color_base
	&-title
		background: color_base
		color white
		padding 0.5em
	&-facebookBtn
		background #44619C
		color white
		padding 0.5em
		ellipsis()
		&:hover
			color white
			text-decoration none
@media screen and (max-width:700px)
	.Condominiums
		&-facebookBtn
			display block
