.Condominiums
	text-align center
	&-elements
		list-style none
		padding 0
	&-elem
		border 1px solid color_base
		border-top none
		padding 0.5em 0
		a
			color color_base
	&-title
		background: color_base
		color white
		padding 0.5em
