color_base = #448259
font_family = 'Raleway', sans-serif;

vendor-prefixes ?= webkit moz o ms official
@import('nib')

@import '../../node_modules/bootstrap/dist/css/bootstrap.css'
@require('theme.styl')
@require('../components/**/*.styl')

body
	background #D3D3D3
	font-family  font_family
	font-size  16px
.no-resize
	resize none
.text-color-base
	color color_base
.Services
	margin 0 0 1em
	&-item
		font-size 17px
		margin-left -30px
		margin-right -30px
		padding-left 0px
		margin-bottom 0.5em
.text-strong
	font-weight