.condominium
	&-edit
		color: rgba(blue, 0.8)
		cursor pointer
	&-card
		background white
		padding 0.5em
		margin 1em
input#tags-codes
	width: 5em
.tags-input
	width 100% !important
	.tag
		background rgba(color_base, 0.4) !important
		margin 0.5em
		padding 0.5em
		color white