.Layout
	background white
	margin 2% 2% 0
	padding 0.5em
.Layout-footer
	background color_base
	color white
	overflow hidden
	margin 0 2% 2%
	.form-group
		overflow hidden
		margin-bottom 0.5rem
.Layout-logo
	width 300px
	margin 15px 15px 30px
