.Layout
	background white
	margin 2% 2% 0
	padding 0.5em
	overflow hidden
	&-footer
		background color_base
		color white
		overflow hidden
		margin 0 2% 0
		padding-bottom 1em
		.form-group
			overflow hidden
			margin-bottom 0.5rem
	&-logo
		max-width: 90%
		width 300px
		margin 15px 15px 30px
	&-values
		background lighten(color_base, 10)
		margin 0 2% 0
		padding 1em 15px
		color white
	&-topBar
		margin-bottom 0.5em
		background: url("/images/chia.jpg");
		background-repeat: no-repeat;
		background-size: cover;
