.ShareBar
	padding 1em 0
	background color_base
	color white
	text-align center
	display flex
	justify-content space-around
	&-content
		width 80%
		display flex
		text-align left
		align-items center
		justify-content center
		flex-direction column
	&-firstColumn
	&-secondColumn
		display flex
		text-align left
		align-items center
		justify-content space-between
		width 100%
	&-option
		color white
		font-size 2em
		letter-spacing 0.5em
		&:hover
			color rgba(white, 0.5)
	&-options
		display flex
		justify-content space-between
		flex-wrap wrap
	&-url
		color color_base
	input&-url
		width 100%
