.FavoriteSlider
	margin 1em 0
	min-height 200px
	background rgba(0,0,0,0.1)
	&-photo
		width 100%
	&-publishButton
		z-index 9999
		position absolute
		top 1em
		left 1em
		background rgba(color_base, 0.7) 
		border none
	carousel-inner
		-webkit-transition: all .5s ease;
		   -moz-transition: all .5s ease;
		    -ms-transition: all .5s ease;
		     -o-transition: all .5s ease;
		        transition: all .5s ease;
@media screen and (min-width: 1500px)
	.FavoriteSlider
		min-height auto
		&-photo
			height auto !important
@media screen and (min-width: 1500px)
	body
		background red