.QuienesSomos
	padding-bottom 1em
	&-primary
		overflow hidden
	&-image
		float: left;
		margin: 0 0.5em 0 0.5em;
		width: 124px;
	&-title
		color color_base
	&-certif
		width 200px
		display block
		border 1px solid rgba(black, 0.5)
	&-diploma
		width 30%
		min-width 250px
		border 1px solid rgba(black, 0.5)
		height 15em
		margin 0.5em