.ContactForm
	&-legend
		font-size 18px
		margin 15px
	&-btnSubmit
		border 2px solid white
		background transparent
		color white
		margin-top: 0.2em;
		&:hover
			border 2px solid white
			background rgba(black, 0.1)
			color white
	&--fullpage
		.ContactForm-btnSubmit
			background color_base
			color white
		.ContactForm-legend
			color color_base
		.form-group
			overflow hidden